.large-header {
  position: relative;

&__image {
  display: block;
}


  &__text-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(70%);
    text-align: center;
  }


  &__title {
    color: #fff;
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  &__subtitle {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(-70%);

  }
}
